.container {
  max-width: 60rem;
  margin: 1rem auto;
}

.container p {
  margin-bottom: 2rem;
}
.album {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
  margin: 0 auto;
  width: 60rem;
}

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.photo::before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
}

.photo img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
