.Banner {
  background-image: url("/images/t1.jpg");
  color: #fff;
  padding: 4rem 2rem;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  transition: height 5s ease, font-size 5s ease, max-width 5s ease; /* Ajout des transitions sur la hauteur, la taille de la police et la largeur maximale */
}

.Banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.Banner h2 {
  font-size: 5em;
  text-shadow: 3px 3px 6px #000000cc;
  transition: font-size 0.5s ease; /* Ajout de la transition pour la taille de la police */
}

.Banner p {
  font-size: 1.5em;
  line-height: 1.8;
  transition: font-size 5s ease; /* Ajout de la transition pour la taille de la police */
}

.Banner div {
  transition: max-width 5s ease; /* Ajout de la transition pour la largeur maximale */
}


@media screen and (max-width: 1200px) {
  .Banner {
    height: 50vh;
  }

  .Banner h2 {
    font-size: 4em;
  }

  .Banner p {
    font-size: 1.2em;
    line-height: 1.8;
  }

  .Banner div {
    max-width: 500px;
    
  }
}

@media screen and (max-width: 900px) {
  .Banner {
    height: 35vh;
    
  }
  .Banner h2 {
    font-size: 2em;
    /*-webkit-text-stroke: 1.2px #ffc107;*/
  }
  
}

@media screen and (max-width: 700px) {
  .Banner {
    height: 30vh;
    
  }
  .Banner h2 {
    font-size: 2em;
  }
  
}

@media screen and (max-width: 600px) {
  .Banner {
    height: 25vh;
    
  }
  .Banner h2 {
    font-size: 1.7em;
  }
  .Banner p {
    font-size: .7em;
    line-height: 1.8;
  }
}

@media screen and (max-width: 500px) {
  .Banner {
    height: 20vh;
  }

}

@media screen and (max-width: 400px) {
  .Banner {
    height: 15vh;
  }
 
}

@media screen and (max-width: 300px) {
  .Banner {
    height: 10vh;
  }
 
}
