.Banner {
  background-image: url("/images/y2.jpg");
  color: #fff;
  padding: 4rem 2rem;
  height: 50vh;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position:bottom;
  transition: height 5s ease, font-size 5s ease, max-width 5s ease; /* Ajout des transitions sur la hauteur, la taille de la police et la largeur maximale */
}

.Banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.Banner h2 {
  font-size: 3em;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
  transition: font-size 0.5s ease; /* Ajout de la transition pour la taille de la police */
}

.Banner p {
  font-size: 1.5em;
  line-height: 1.8;
  transition: font-size 5s ease; /* Ajout de la transition pour la taille de la police */
}

.Banner div {
  background-color: #211100d1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  transition: max-width 5s ease; /* Ajout de la transition pour la largeur maximale */
}

@media screen and (max-width: 1200px) {
  .Banner {
    height: 20vh;
  }

  .Banner h2 {
    font-size: 1.3em;
    
  }

  .Banner p {
    font-size: 1.2em;
    line-height: 1.8;
  }

  .Banner div {
    
    
  }
}

@media screen and (max-width: 900px) {
  .Banner {
    height: 15vh;
  }
}
