.dds__blockquote {
  padding:  1rem;
  background-color: #f3f3f3;
  border-left: 7px solid #ffc107;
 text-align: center;
  color: #6e6e6e;
  margin: 1rem;
}

.dds__blockquote p {
  font-size: 1.2em;
  color: #323232;
  line-height: 1.4;
  margin-bottom: 7px;
  font-style: italic;
}
