.dds__blockquote {
  padding: 1rem;
  background-color: #f3f3f3;
  text-align: center;
  color: #6e6e6e;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: .1rem;
  border-left: 7px solid #6e6e6e;
}

.dds__blockquote p {
  font-size: 1.2em;
  color: #323232;
  line-height: 1.4;
  margin-bottom: 7px;
  font-style: italic;
}
