.Schedule {
    background-color: #ffffff;
    color: #000000;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title {
    font-size: 3em;
    background-color: #896701;
    color: #fff;
    font-weight: bold;
    padding: 0.5em 1em;
    border-radius: 8px;
    text-align: center;
}

.detail {
    font-size: 1.2em;
    max-width: 80%;
    line-height: 1.6;
    text-align: left;
}

.detail p {
    margin-bottom: 20px;
}

.button {
    background-color: #fff;
    border: 4px solid #896701;
    border-radius: 3px;
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    color: #896701;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
    background-color: #ededed;

}


@media (max-width: 1023px) {
    .Schedule{
        padding: 2rem;
    }
    .title {
        font-size: 2.5em;
    }

    .detail {
        font-size: 1.4em;
        max-width: 75%;
    }
}

@media (max-width: 767px) {
    .Schedule {
        height: 80vh;
    }

    .content {
        margin: 1rem;
    }

    .title {
        font-size: 2em;
    }

    .detail {
        font-size: 1.5em;
        max-width: 70%;
    }
}
